<!--The content below is only a placeholder and can be replaced.-->

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <a class="navbar-brand" href="#">Home</a>-->

<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--        <ul class="navbar-nav mr-auto">-->
<!--            <li class="nav-item active">-->
<!--              <a class="nav-link" href="cliente/list">Cliente List <span class="sr-only">(current)</span></a>-->
<!--            </li>-->
<!--          <li class="nav-item active">-->
<!--            <a class="nav-link" href="product/list">Product List <span class="sr-only">(current)</span></a>-->
<!--          </li>-->

<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->
<nav class="clearfix">
<ul class="clearfix">
  <li><a href="#">Home</a></li>
  <li><a href="cliente/list">Cliente List</a></li>
  <li><a href="product/list">Product List</a></li>
  <li><a href="#">Design</a></li>
  <li><a href="#">Web 2.0</a></li>
  <li><a href="#">Tools</a></li>
</ul>
</nav>

<div style="margin:25px;">
    <router-outlet></router-outlet>
</div>

