<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" >Code</th>
                    <th scope="col" >Name</th>
                    <th scope="col" >Address</th>
                    <th scope="col" >Telephone</th>
                    <th scope="col" >Status</th>
                    <th scope="col" >Birth Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of clientList | async">
                    <th scope="row">{{c.code}}</th>
                    <td>{{c.name}}</td>
                    <td>{{c.address}}</td>
                    <td>{{c.telephone}}</td>
                    <td>{{c.status ==1 ? 'Đang mở' : c.status ==2 ? 'Khóa' : "Đã xóa"}}</td>
                    <td>{{c.birthdate|date:'dd/MM/yyyy'}}</td>
                    <td>
                        <a class="btn btn-primary" href="cliente/cad/{{c.id}}" role="button">Edit</a>
                      &nbsp;
                        <a class="btn btn-info" href="cliente/cad" role="button">Add</a>
                      &nbsp;
                        <button class="btn btn-danger" role="button" (click)="onRemove(c.id)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
<!--    <button type="button" class="btn btn-success" (click)="export()">Export XLS</button>-->
</div>

