<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group col-md-6">
            <label for="code">Code</label>
            <input type="number" id="code" class="form-control" placeholder="Code" formControlName="code" required />
            <small *ngIf="submited && form.get('code')?.errors?.required"
                class="form-text text-muted">*Required field
            </small>
        </div>
        <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" placeholder="Code" formControlName="name" required />
            <small *ngIf="submited && form.get('name')?.errors?.required"
                class="form-text text-muted">*Required field
            </small>
        </div>

        <div class="form-group col-md-6">
            <label for="address">Address</label>
            <input type="text" id="address" class="form-control" placeholder="Address" formControlName="address" required />
            <small *ngIf="submited && form.get('address')?.errors?.required"
                class="form-text text-muted">*Required field
            </small>
        </div>

        <div class="form-group col-md-6">
            <label for="telephone">Telephone</label>
            <input type="number" id="telephone" class="form-control" placeholder="Telephone" formControlName="telephone" required />
            <small *ngIf="submited && form.get('telephone')?.errors?.required"
                class="form-text text-muted">*Required field
            </small>
        </div>

        <div class="form-group col-md-6">
            <label for="status">Status</label>
            <select id="status" class="form-control" formControlName="status" required>
              <option value="" disabled selected>(Chọn một)</option>
              <option [ngValue]="1">Đang mở</option>
              <option [ngValue]="2">Khóa</option>
              <option [ngValue]="3">Đã xóa</option>
            </select>
            <small *ngIf="submited && form.get('status')?.errors?.required"
                class="form-text text-muted">*Required field
            </small>
        </div>

        <div class="form-group col-md-6">
            <label for="birthdate">Birth Date</label>
            <input type="date" id="birthdate" class="form-control" placeholder="Birth Date" formControlName="birthdate" required />
            <small *ngIf="submited && form.get('birthDate')?.errors?.required"
                class="form-text text-muted">*Required field
            </small>
        </div>

        <button class="btn btn-primary" type="submit">Save</button>
    </form>

    <div *ngIf="message">
        <br/><br/>
        <div [class.alert-danger]="error">{{ message }}</div>
    </div>
</div>
