<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Product</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="row">


  <div class="col-md-12">
    <div class="row justify-content-center">
      <div class="input-group col-md-5">
        <label>
          <input style="margin-bottom: 5%" [(ngModel)]="name" (input)="Search()" type="text"
                 class="  search-query form-control" placeholder="Search name product"/>
        </label>
        <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
      </div>
    </div>
    <table class="rwd-table" style="width: 100%">
      <thead>
      <tr>
        <th scope="col">Số thứ tự</th>
        <th scope="col">Mã sản phẩm</th>
        <th scope="col">Tên sản phẩm</th>
        <th scope="col">Ngày sản xuất</th>
        <th scope="col">Ngày hết hạn</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">Số lượng</th>
        <th scope="col">Hành động</th>
        <th><a href="product/cad" class="btn btn-info"><i class="fa fa-plus-square"></i></a></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor=" let c of products, let i = index">
        <th scope="row">{{i + 1}}</th>
        <th scope="row">{{c.code}}</th>
        <td>{{c.name}}</td>
        <td>{{c.date_manufacture|date:'dd/MM/yyyy'}}</td>
        <td>{{c.date_expiration|date:'dd/MM/yyyy'}}</td>
        <td>{{c.status == 1 ? 'Còn hàng' : c.status == 2 ? 'Hết hàng' : "Đang chờ" }}</td>
        <td>{{ separteAmount(c.number)}} sản phẩm</td>
        <td>
          <a class="btn btn-primary" href="product/cad/{{c.id}}" role="button"><i class="fa fa-pencil"></i></a>
          &nbsp;
          &nbsp;
          <button class="btn btn-danger" role="button" (click)="onRemove(c.id)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="list row justify-content-center">
      <!--      <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>-->
      <pagination-controls (pageChange)=" config.currentPage = $event"></pagination-controls>
    </div>

  </div>
</div>
<div class="row">
  <!--    <button type="button" class="btn btn-success" (click)="export()">Export XLS</button>-->
</div>

</body>
</html>
