<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group col-md-6">
      <label for="code">Mã sản phẩm</label>
      <input min="1" type="number" id="code" class="form-control" placeholder="Mã sản phẩm" formControlName="code" required [ngClass]="{ 'is-invalid': submited && form.get('code')?.errors?.required }" />
      <span class="text-danger" *ngIf="submited && form.get('code')?.errors?.required"
             >*Mã sản phẩm không được để trống
      </span>
    </div>

    <div class="form-group col-md-6">
      <label for="name">Tên sản phẩm</label>
      <input type="text" id="name" class="form-control" placeholder="Tên sản phẩm" formControlName="name" required [ngClass]="{ 'is-invalid': submited && form.get('name')?.errors?.required }" />
      <span class="text-danger" *ngIf="submited && form.get('name')?.errors?.required"
             >*Tên sản phẩm không được để trống
      </span>
    </div>

    <div class="form-group col-md-6">
      <label for="dateManufacture">Ngày sản xuất</label>
      <input type="date" id="dateManufacture" class="form-control" placeholder="Ngày sản xuất" formControlName="date_manufacture" required
             [ngClass]="{ 'is-invalid': submited && form.get('date_manufacture')?.errors?.required }"/>
      <span class="text-danger" *ngIf="submited && form.get('date_manufacture')?.errors?.required"
             >*Ngày sản xuất không được để trống
      </span>
    </div>

    <div class="form-group col-md-6">
      <label for="dateExpiration">Ngày hết hạn</label>
      <input type="date" id="dateExpiration" class="form-control" placeholder="Ngày hết hạn" formControlName="date_expiration"
             [ngClass]="{ 'is-invalid': submited && form.get('date_expiration')?.errors?.required }"required />
<!--      <small *ngIf="submited && form.get('date_expiration')?.errors?.required"-->
<!--             >*Required field-->
<!--      </small>-->
      <span class="text-danger"
            *ngIf="submited && form.get('date_expiration')?.errors?.required">
                               *Ngày hết hạn không được để trống
              </span>

    </div>
    <div class="form-group col-md-6">
      <label for="status">Trạng thái</label>
      <select id="status" class="form-control" formControlName="status" required
              [ngClass]="{ 'is-invalid': submited && form.get('status')?.errors?.required }"
              (change)="changeOption($event)">
        <option value="" disabled selected>(Chọn một)</option>
        <option [value]="1">Còn hàng</option>
        <option [value]="2">Hết hàng</option>
        <option [value]="3">Đang chờ</option>
      </select>
      <span class="text-danger" *ngIf="submited && form.get('status')?.errors?.required"
             >*Trạng thái bắt buộc chọn
      </span>
    </div>

    <div class="form-group col-md-6">
      <label for="number">Số lượng</label>
      <input type="number"  id="number" class="form-control" placeholder="Số lượng" formControlName="number" required
             [ngClass]="{ 'is-invalid': submited && form.get('number')?.errors?.required }"/>
      <span class="text-danger" *ngIf="submited && form.get('number')?.errors?.required"
             >*Số lượng bắt buộc chọn
      </span>
    </div>

    <button class="btn btn-primary" style="margin-right: 1%" type="submit"><i class="fa fa-save"></i></button>
    <a href="/product/list" class="btn btn-danger" type="submit"><i class="fa fa-backward"></i></a>
  </form>

  <div *ngIf="message">
    <br/><br/>
    <div [class.alert-danger]="error">{{ message }}</div>
  </div>
</div>
